& when (@media-common =true) {
	.cookie-hidden-bottom #notice-cookie-block {
        display: none;
    }
	.message.global.cookie.magepow-gdpr-cookie-notice{
		bottom: 0;
	    left: 0;
	    position: fixed;
	    right: 0;
	    z-index: 3;
		line-height:2; 
		padding:30px;
		margin: 0;
		display: block;
		z-index:10;
		padding:15px;
	}
	.magepow-gdpr-cookie-notice.message.global h3{margin-top:0}
	.magepow-gdpr-cookie-notice.gdpr-box-shadow{
		-webkit-box-shadow: -2px 2px 82px -26px #000;
		box-shadow: -2px 2px 82px -26px #000;
	}
	.magepow-gdpr-cookie-notice.text-align-center{
		text-align:center;
	}
	.magepow-gdpr-cookie-notice.text-align-left{
		text-align:left;
	}
	.magepow-gdpr-cookie-notice.text-align-right{
		text-align:right;
	}
}